*{
    color: rgb(47, 201, 75);
    font-family: sans-serif;
}
body{
    background-color: rgb(16, 88, 55);
}
table{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color:aliceblue red;
}
label{
    display: inline-block;
    color: rgb(40, 40, 161);
    width: 120px;
}
div{
    text-align: center;
    background-color: rgb(16, 88, 55);
    margin: auto;
}
.container{
    background-color: rgb(129, 138, 146);
    width: fit-content;
    border: 2px solid black;
    padding: 10px 10px 10px;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: rgb(201, 20, 20);
}
h2{
    text-align: center;
    color: rgb(53, 111, 236);
}
